/*General*/
body{
	background-image: url("./../images/rockywall.png");
}

/*Header*/
header{
	clear:both;
	background-color: #ffffff;
	height:60px;
	border-bottom-style:solid;
	border-color:#cccccc;
	border-width:10px;
	margin:0;
	padding:0;
	width:100%;
	top:0px;
}
	

	h1{
		font-family:Georgia, 'Times New Roman', Times, serif;
		float:left;
		background-color: #4aaaa5;
		border-color: #cccccc;
		margin-left:150px;
		margin-top:0px;
		font-size:36px;
		color:#ffffff;
		height:45px;
		padding:15px 20px 0px 20px;
	}

	.headerlink{
		background-color:#ffffff;
		font-family: Arial, Helvetica, sans-serif;
		color: #666666;
		font-size:18px;
		font-weight:500;
		float:right;
		padding-left: 10px;
		padding-right: 10px;
		margin-top:20px;
		text-decoration:none;
	}

	.headerlink:hover{
		text-decoration:underline;
	}

	#contact, #portfolio, #about,{
		padding: 20px 10px 0px 10px;
	}
	#about, #portfolio{
		border-right-style:solid;
		border-color:#666666;
		border-width:1px;
	}
	#contact{
		margin-right:10px;
	}

/*Main Sections*/
.bluebox{
	box-sizing:border-box;
	padding:10px;
	margin:0;
	min-height:100%;
	margin-bottom:-20px;
}

.redbox{
	border-color:#dddddd; 
	border-style: solid;
	border-width:2px;
	border-radius:10px;	
	box-sizing:border-box;
	background-color:#ffffff;
	width:940px;
	margin:40px auto;
}

h2{
	border-color:#4aaaa5;
	border-bottom:solid;
	border-width:5px;
	background-color:#ffffff;
	color: #4aaaa5;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size:30px;
	padding-left:6%;
	padding-right:0px;
	padding-bottom:10px;
	width:90%;
	margin:20px;
	clear:both;
}

footer{
	border-color: #4aaaa5;
	border-top-style:solid;
	border-width:3px;
	color:#ffffff;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:16px;
	background-color:#666666;
	text-align:center;
	height:36px;
	line-height:36px;
}

/*Index Specific*/
.profileBox{
	display: block;
	width:auto;
	max-width:300px;
	padding:0;
	margin:20px 40px 20px 40px;
	position:relative;

}

#profilePic{
	width:100%;
	display:block;
	float:left;
	margin-right:40px;
	margin-bottom:40px;
}

.bioText{
	margin:0px 40px 20px 40px;
	font-family:Georgia, 'Times New Roman', Times, serif;
}


/*Portfolio Specific*/
.pictureGallery{
	box-sizing:border-box;
	width:100%;
	max-width:800px;
	display: block;
	padding-left:40px;
	padding-top:10px;
}

.pictureWrap{
	display: inline-block;
	background-color: #ffffff;
	width:auto;
	max-width: 300px;
	margin:0px 30px 0px 30px;
	text-align:center;
	vertical-align:top;
	margin-bottom:30px;
	position:relative;
}

.picture{
	width:100%;
	display:block;
	background-color: white;
}

.pictureLabel{
	position:absolute;
	bottom:30px;
	left:0;
	width:100%;
	background-color:#4aaaa5;
	color:white;
	font-size:20px;
	line-height:36px;
	height:36px;
	text-decoration:none;
}

.pictureLabel:hover {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 38px;
	width:100%;
	border: 2px solid white; 
}

/*Contact Specific*/

.allforms{
	margin:0 40px 40px 40px;
	width:100%;
}

	.infopiece, .userinfo, #subject{
		float:left;
		clear:both;
		
	}

	.infopiece{
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		color: #666666;
		margin:10px 0px 7px 0px;
		font-weight:600;
	}

	.userinfo{
		height:18px;
		text-align:middle;
		padding:none;
		margin-right:auto;
		margin-left:auto;
	}

	.userinfo, #subject{
		font-family:Arial, Helvetica, sans-serif;
		font-size:14px;
		line-height:21px;
		color:#666666;
		width:90%;
		margin-bottom:15px;
		border-radius:3px;
		border-style:solid;
		border-color:#666666;
		border-width:thin;
	}

	#finalbutton{
		float:left;
		clear:both;	
		margin-bottom:40px;
		margin-top:20px;
		background-color:#4aaaa5;
		color:white;
		height:40px;
		width:90px;
		font-family: Arial, Helvetica, sans-serif;
		text-align:center;
		text-align:middle;
		border-style:none;
	}

/*Clearfix Base*/
.clearfix::after {
	content: "";
	display: block;
	clear: both;
	overflow:auto;
  }  

/*Media Queries*/

@media screen and (max-width: 980px) {
	h1{
		margin-left:12%;
	}

	.redbox{
		width:100%;
		padding-left:10px;
		padding-right:10px;
	}

	.pictureWrap{
		max-width:300px;
		margin:0px 30px 30px 0px;
	}

}

@media screen and (max-width: 768px) {
	.pictureWrap{
		max-width:250px;
		margin:0px 15px 15px 0px;
	}	

}

@media screen and (max-width: 640px) {
	header{
		height:auto;
		text-align:center;
	}
	h1{
		width:100%;
		clear:both;
		text-align:center;
		margin:0px;
		padding:0px;
		font-size:24px;
		height:36px;
		line-height:36px;
		background-color:none;
	}

	.linkSet{
		display:flex;
		flex-direction:row-reverse;
		width:auto;
		padding: 3px 0;
		border-color:#ffffff;
		border-width:1px;
		border-style:solid;
		text-align:center;
		justify-content:center;
	}

	.headerlink{
		float:none;
		padding:0;
		margin:0;
		font-size:16px;
	}

	#about{
		padding-right:10px;
		margin-right:10px;
	}
	#portfolio{
		padding-right:10px;
		margin-right:10px;
	}

	h2{
		font-size:22px;
		font-weight:600;
		margin:0px 0px 10px 0px;
		padding-top:20px;
		text-align:center;
	}

	.redbox{
		margin-top:15px;
	}

	/*Index Specific*/
	.profileBox{
		margin-left:auto;
		margin-right:auto;
		padding:0 35px;

	}

	#profilePic{
		margin:0px 0px 20px 0px;
	}

	/*Portfolio Specific*/
	.pictureGallery{
		padding:0px;
	}

	.bioText{
		display:inline-block;
	}
	
	.pictureWrap{
		display: block;
		margin-left:auto;
		margin-right:auto;
		padding:20px 0px 30px 0px;
		width:100%;
		max-width:400px;
	}

	.pictureLabel{
		bottom:20%;
		width:100%;
		font-size:14px;
		line-height:24px;
		height:24px;
	}

	.pictureLabel:hover {
		height: 26px;
}

/*Contact Specific*/
.allforms{
	margin-left:15px;
}

.infopiece{
	margin-top:5px;
}

.userinfo, #subject{
	width:80%;
}

/*Highlight Box*/
/* border-style:solid;
border-width:2px;
border-color:blue; */