/*General*/
body{
	background-image: url("./../images/rockywall.png");
}

/*Header*/
header{
	clear:both;
	background-color: #ffffff;
	height:60px;
	border-bottom-style:solid;
	border-color:#cccccc;
	border-width:10px;
	margin:0;
	padding:0;
	width:100%;
	top:0px;
}
	

	h1{
		font-family:Georgia, 'Times New Roman', Times, serif;
		float:left;
		background-color: #4aaaa5;
		border-color: #cccccc;
		margin-left:50px;
		margin-top:0px;
		font-size:36px;
		color:#ffffff;
		height:45px;
		padding:15px 20px 0px 20px;
	}

	.headerlink{
		background-color:#ffffff;
		font-family: Arial, Helvetica, sans-serif;
		color: #666666;
		font-size:18px;
		font-weight:500;
		float:right;
		padding-left: 10px;
		padding-right: 10px;
		margin-top:20px;
		text-decoration:none;
	}

	.headerlink:hover{
		text-decoration:underline;
	}

	#contact, #portfolio, #about,{
		padding: 20px 10px 0px 10px;
	}
	#about, #portfolio{
		border-right-style:solid;
		border-color:#666666;
		border-width:1px;
	}
	#contact{
		margin-right:10px;
	}

/*Main Sections*/
.bluebox{
	box-sizing:border-box;
	padding:10px;
	margin:0;
	min-height:100%;
	margin-bottom:-20px;
}

.redbox{
	border-color:#dddddd; 
	border-style: solid;
	border-width:2px;
	border-radius:10px;	
	box-sizing:border-box;
	background-color:#ffffff;
	width:940px;
	margin-bottom:40px;
	margin:40px auto;
}

h2{
	border-color:#4aaaa5;
	border-bottom:solid;
	border-width:5px;
	background-color:#ffffff;
	color: #4aaaa5;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size:30px;
	padding-left:6%;
	padding-right:0px;
	padding-bottom:10px;
	width:90%;
	margin:20px;
	clear:both;
}

.pictureGallery{
	box-sizing:border-box;
	width:100%;
	max-width:800px;
	display: block;
	padding-left:40px;
	padding-top:10px;
}

.pictureWrap{
	display: inline-block;
	background-color: #ffffff;
	width:auto;
	max-width: 300px;
	margin:0px 30px 0px 30px;
	text-align:center;
	vertical-align:top;
	margin-bottom:30px;
	position:relative;
}

.picture{
	width:100%;
	display:block;
	background-color: white;
}

.pictureLabel{
	position:absolute;
	bottom:20px;
	width:100%;
	background-color: red;
	color:white;
	font-size:24px;
	line-height:30px;
}

footer{
	background-color:grey;
	text-align:center;
	height:20px;
}

/*Clearfix Base*/
.clearfix::after {
	content: "";
	display: block;
	clear: both;
	overflow:auto;
  }  

/*Media Queries*/

@media screen and (max-width: 980px) {
	.redbox{
		width:100%;
		padding-left:10px;
		padding-right:10px;
	}

	.pictureWrap{
		max-width:300px;
		margin:0px 30px 30px 0px;
	}

}

@media screen and (max-width: 768px) {
	.pictureWrap{
		max-width:250px;
		margin:0px 15px 15px 0px;
	}	
}

@media screen and (max-width: 640px) {
	header{
		height:auto;
		text-align:center;
	}
	h1{
		width:100%;
		clear:both;
		text-align:center;
		margin:0px;
		padding:0px;
		font-size:24px;
		height:36px;
		line-height:36px;
		background-color:none;
	}
	.linkSet{
		display:flex;
		flex-direction:row-reverse;
		width:auto;
		padding: 3px 0;
		border-color:#ffffff;
		border-width:1px;
		border-style:solid;
		text-align:center;
		justify-content:center;
	}
	.headerlink{
		float:none;
		padding:0;
		margin:0;
		font-size:16px;
	}

	#about{
		padding-right:10px;
		margin-right:10px;
	}
	#portfolio{
		padding-right:10px;
		margin-right:10px;
	}


	h2{
		font-size:22px;
		font-weight:600;
		margin:0;
		padding-top:20px;
	}

	.pictureGallery{
		padding:0px;
	}
	
	.pictureWrap{
		display: block;
		margin-left:auto;
		margin-right:auto;
		padding:20px 0px 30px 0px;
		width:100%;
		max-width:400px;
	}

	.pictureLabel{
		bottom:20%;
		width:100%;
		background-color: red;
		color:white;
		font-size:14px;
		line-height:18px;
	}

}